 @font-face {
   font-family: Netigen;
   src: url('fonts/netigen.otf');
 }

 /*
 @font-face {
  font-family: Fira Mono;
  src: url();
 }
*/
 :root {
  --text-color: #bbaaaa;
 }

body {
  display: grid;
  grid-template-columns: 300px auto;
  background-color: #323446;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
  margin: 0;
}

p {
  color: var(--text-color);
}

nav {
  padding: 0px 16px;
  font-size: 25px;
  letter-spacing: 2px;
  background-color: #22233f;
  color: var(--text-color);
}

main {
  border: 3px solid black;
  margin: 0;
}

h1 {
  font-family: Netigen, "Courier New", sans-serif;
  color: var(--text-color);
}

.side-menu p {
  font-family: "Courier New", sans-serif;
  font-size: 16px;
}

footer {
  background-color: #22233f;
  padding: 16px;
  border-top: 3px var(--text-color) solid;
  color: var(--text-color);
}
